dependencies/
_clone
_build
.paket/paket.exe
*.csproj.user
*.[Rr]e[Ss]harper
*.sln.cache
*.suo
*.user
*.orig
*.pidb
*.ide
*.userprefs
*.nupkg
.fake
AssemblyVersionInfo.cs
.DS_Store
deploy/
build/
test/
TestResults/
[Bb]in/
[Dd]debug/
[Oo]bj/
[Rr]elease/
[Aa]rtifacts/
[Cc]ake[Tt]ools/
_[Rr]e[Ss]harper/
*.docstates
*.tss
*.dotCover
Thumbs.db
.idea
Gemfile.lock
.vs/
packages/
project.lock.json
*.feature.cs

# Cake - Uncomment if you are using it
tools/**
!tools/packages.config